PASTA_MAPA_DIGITAIS=caminho com o mapeamento do índices.
PASTA_INDICES=caminho para o arquivo de índices.
DOCKER_HOST=caminho do container que retorna a extração de minúcias.
MCCSDK=caminho para o sdk 